@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto+Condensed&display=swap');

img {
    height: 100px;
}
p {
    position: relative;
    bottom: 31px;
    font-size: 25px;
    color: rgb(170, 197, 223);
    left: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.profile-card {
    position: relative;
    align-items: center;
    display: flex;
    background-color: rgb(34, 39, 44);
    border-radius: 20px;
    height: 200px;
    top: 100px;
    padding: 10%;
}